pytest # Test Framework
pytest-django # Test plugin for Django
pytest-benchmark # Test plugin for benchmarking performance
ipython # Python Shell
ipdb # Debugger
pylint # Linter.
autopep8 # Auto formatter
sphinx