# Install this if you wan't to develop the platform
# (For testing see requirements.test.text)
ipython # Python Shell
pylint # Linter.
black # Auto formatter.
sphinx # Documentation
sphinx_rtd_theme # Documentation theme
recommonmark # Documentation using Markdown