<mat-card>
  <mat-card-title>About</mat-card-title>
  <mat-card-content>
    <p>
      I'm a Lead Data Scientist Developer at <a href="https://orsted.com/" target="_blank">Ørsted</a> and a knowledge
      expert in
    </p>
    <p>- Data, Models and Analytics applying methods and tools from Mathematics,
      Statistics, Physics, Business Intelligence, System Development, Financial Analysis, Data Science,
      Machine
      Learning, Artificial Intelligence,
      Automation and Robotics.</p>
    <p>- Asset Management of both financial and physical assets from +14 years of
      working in the Financial and Energy sectors with Analysis, Modelling, Trading, Operation, Finance and Risk
      Management.
    </p>
    <p>In my spare time I enjoy my wife and 3 boys as well as cycling on Zwift and in real life.</p>
    <p>
      <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <img src="assets/images/about/family.jpg" class="rounded" alt="My Family" style="max-width:100%;height: 100%">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <img src="assets/images/about/cycling.jpg" class="rounded" alt="My Cycling"
            style="max-width:100%;height: 100%">
        </mat-grid-tile>
      </mat-grid-list>
    </p>
  </mat-card-content>
</mat-card>