<mat-toolbar color="primary">
  <button id="home_button" mat-button routerLink=''>&nbsp;{{title}}</button>
  <button id="data_button" mat-button routerLink='' disabled><i class="fas fa-database"></i>&nbsp;Data</button>
  <button id="models_button" mat-button routerLink='' disabled><i
      class="fas fa-project-diagram"></i>&nbsp;Models</button>
  <button id="docs_button" mat-button routerLink='' disabled><i class="fas fa-chart-bar"></i>&nbsp;Analytics</button>
  <a id="blog_button" mat-button><i class="fas fa-pen"></i>&nbsp;Blog</a>
  <a href='{{docs_url}}' mat-button id="docs_link"><i class="fas fa-book"></i>&nbsp;Docs</a>
  <a href="{{source_url}}" target="_blank" mat-button><i class="fab fa-github"></i>&nbsp;Source</a>
  <span class="toolbar-spacer"></span>
  <button id="login_button" mat-button routerLink='login' disabled><i
      class="fas fa-sign-in-alt"></i>&nbsp;Login</button>
</mat-toolbar>
<div id="main-content" width="100%">
  <router-outlet></router-outlet>
</div>
<!-- <mat-card>
<mat-card-content>
  </mat-card-content>
</mat-card> -->