<mat-card>
  <mat-card-title>Welcome to Data, Models and Analytics</mat-card-title>
  <mat-card-content>
    <p>
      This site exists to document, share and discuss my knowledge of Data, Models and Analytics in an enterprise
      setting.
    </p>
    <p>
      I originally developed this site to share a real life example of my favourite paradigm for developing web services
      and applications for Data, Models and Analytics in an Enterprise setting. You can read the details in the Docs and
      find the Source on
      Github.
    </p>
    <p>I hope you find this site useful. Feel free to reach out.</p>
    <p>Marc Skov Madsen, PhD (Math), CFA®</p>
    <p>Lead Data Science Developer at <a href="https://orsted.com/" target="_blank">Ørsted</a></p>
    <p>
      <a href="https://www.google.dk/maps/place/Kastanjehaven+10,+7080+B%C3%B8rkop/@55.6193858,6.7124789,7z/data=!4m5!3m4!1s0x464c9adc000fc347:0x9c1dcc5b5de99dfc!8m2!3d55.6286139!4d9.6508595"
        target="_blank">
        <i class="fas fa-map-marker-alt"></i>&nbsp;Kastanjehaven 10, 7080, Børkop, Denmark
      </a>
    </p>
    <p>
      <a href='mailto:marc.skov.madsen@gmail.com' target="_blank">
        <i class="fas fa-envelope-square"></i>&nbsp;Email
      </a>
    </p>


  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<app-credits></app-credits>
<mat-divider></mat-divider>
<app-about></app-about>
<mat-divider></mat-divider>
<app-follow-me></app-follow-me>