<mat-card>
    <mat-card-title>Credits</mat-card-title>
    <mat-card-content id="image-content">
        <div id="image-div">
            <a href="https://www.python.org/" target="_blank"><img src="assets/images/credits/python-logo-generic.svg"
                    mat-card-lg-image alt="Python"></a>
            <a href="https://www.djangoproject.com/" target="_blank"><img
                    src="assets/images/credits/django-logo-positive.svg" mat-card-lg-image alt="Django"></a>
            <a href="https://www.django-rest-framework.org/" target="_blank"><img
                    src="assets/images/credits/django-rest-framework.png" mat-card-lg-image
                    alt="Django Rest Framework"></a>
            <a href="https://plot.ly/" target="_blank"><img src="assets/images/credits/plotly.png" mat-card-lg-image
                    alt="Plotly"></a>
            <a href="https://angular.io/" target="_blank"><img src="assets/images/credits/angular.svg" mat-card-lg-image
                    alt="Angular"></a>
            <a href="https://www.postgresql.org/" target="_blank"><img src="assets/images/credits/postgresql_logo.svg"
                    mat-card-lg-image alt="Postgresql"></a>
            <a href="https://code.visualstudio.com/" target="_blank"><img
                    src="assets/images/credits/visual-studio-code.svg" mat-card-lg-image alt="Visual Studio Code"></a>
            <a href="https://www.heroku.com/" target="_blank"><img src="assets/images/credits/heroku.svg"
                    mat-card-lg-image alt="Heroku"></a>
        </div>
    </mat-card-content>
</mat-card>